<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="/app/assets/stylesheets/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Marcellus+SC&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="debut-page">
        <div class="titre">
            <h1> Qui sommes-nous? </h1>
        </div>
        <div class="description-titre">
            <h3> Bienvenue sur notre site ! Nous sommes Naika et Noémie, deux passionnées de jeux vidéo. Notre mission ?
                Répertorier les titres qui ont marqué nos vies, des années 1990 aux années 2010. Explorez avec nous cet
                univers où la nostalgie rencontre la modernité. Bienvenue chez Naika et Noémie, où chaque joueur, chaque
                histoire, et chaque pixel compte. </h3>
        </div>
    </div>
    <div class="premiere-presentation">
        <div class="image-presentation">

        </div>
        <div class="texte-presentation">
            <p class="prenom"> Noémie </p>
            <p class="info"> Bienvenue sur notre site ! Je suis une passionnée de 23 ans qui a grandi avec une manette
                de jeu entre les mains. Depuis mon enfance, les jeux vidéo ont été une source infinie de joie et de
                nostalgie. C'est cette nostalgie qui m'a inspirée à créer ce site, un espace où je peux préserver et
                partager les souvenirs inoubliables des heures passées à explorer des mondes virtuels. </p>
        </div>
    </div>
</body>

</html>