<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
ur    <link rel="stylesheet" href="/app/assets/stylesheets/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Marcellus+SC&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="debut-page">
        <div class="titre">
            <p> Qui sommes-nous? </p>
        </div>
        <div class="description-titre">
            <p> Bienvenue sur notre site ! Nous sommes Naika et Noémie, deux passionnées de jeux vidéo. Notre mission ?
                Répertorier les titres qui ont marqué nos vies, des années 1990 aux années 2010. Explorez avec nous cet
                univers où la nostalgie rencontre la modernité. Bienvenue chez Naika et Noémie, où chaque joueur, chaque
                histoire, et chaque pixel compte. </p>
        </div>
    </div>


    <div class="premiere-presentation">
        <div class="image-presentation">
            <img src="/app/assets/images/nono.svg">
        </div>

        <div class="texte-presentation">
            <p class="prenom"> Noémie </p>
            <p class="info"> Je suis une passionnée de 23 ans qui a grandi avec une manette
                de jeu entre les mains. Depuis mon enfance, les jeux vidéo ont été une source infinie de joie et de
                nostalgie. C'est cette nostalgie qui m'a inspirée à créer ce site, un espace où je peux préserver et
                partager les souvenirs inoubliables des heures passées à explorer des mondes virtuels. Naïka est ma
                meilleure amie. </p>
        </div>
    </div>


    <div class="deuxieme-presentation">
        
        <div class="texte-deux-presensation">
            <p class="naika"> Naïka </p>
            <p class="info-naika"> Je suis une passionnée de 24 ans, bercée par l'amour des jeux vidéo depuis ma tendre
                enfance. Animée par une nostalgie profonde et une volonté de préserver ces précieux souvenirs, j'ai mis
                tout mon cœur dans la création de ce site. Amoureuse de Zelda, nous avons
                donné vie à ce projet dans l'espoir de créer une communauté où nos souvenirs de jeux vidéo deviennent
                une source d'échange et de partage. </p>
            </div>
                <div class="image-deux-presentation">
                    <img src="/app/assets/images/nono.svg">
                </div>
    </div>

    <div class="nostalgie-c-quoi"> 
        <div class=titre-partie-trois>
            <p> Nostalgie, c'est quoi ? </p>
        </div>

        <div class="mot-key">
            <div class="haut"> <p> Découverte </p> <p> Jeux</p> <p> Divertissement </p> 
<br> </br ><p> Partage </p>  
<p> Aventure </p> <p> Entraide </p>
            </div>
        
        </div>
    </div>
</body>

</html>
