body {
    background-image: url('/app/assets/images/fond.svg');
}

.debut-page { 
    display: flex;
    flex-direction: column;
    margin-bottom: 10em;

}

.titre { 
    font-size: 1.5em;
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
      }
   
.description-titre {
    text-align: center;
    font-size : 1em;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  margin-left: 15em;
  margin-right: 15em;
}

.premiere-presentation {
    display: flex;
    flex-direction: column;
}