



.presentation{
    font-weight: bold;
}

.link a{
    color:rgb(255, 255, 255);
  }

.top{
    margin-bottom: 100px;
    background-image: url('/app/assets/images/fond.svg');
}


.contenu {
    display:flex;
    flex-direction: row;
    background-color: green;

}

.description-debut{
    font-size:x-large;
    margin-right: 0;
}

.img-fluid{
    filter: grayscale(100%) blur(2px);
}
.img-fluid:hover {
    filter: grayscale(0%) blur(0px);

  }

.gros-titre{
    font-size: 80px;
}
.sous-titre{
    font-size: xx-large;
}