

body {
    margin: 0;
}


.developpeur {
    font-size: 1.1em;
}

.date {
    margin-top: 2em;
    font-size: 1.1em;
}


.edit {
    text-align:center;
}

.destroy {
    text-align: center;
    margin-top: 0.9em;
    margin-bottom: 5em;
}

.edit:hover {
    color:orange;
}

.info-image{
    display: flex;
    justify-content: end;
}
.color{
    filter:grayscale(0%) blur(0px);
    max-width:70%;
}

.commandes{
    margin-top: 3em;
}